
/.idea/
*/.idea/*
/out/
/.idea/codeStyles/
/.idea/.gitignore
/.idea/description.html
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/project-template.xml
/.idea/vcs.xml
/.idea/workspace.xml
